body {
    background: #000000;
    color: #fff;
}

body::before {
    content: "";
    display: block;
    width: 62px;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

body::after {
    content: "";
    display: block;
    width: 62px;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
}

.inner {
    /* background: rgba(255, 0, 0, 0.2); */
    max-width: 1780px;
    margin: 0 auto;
    /* padding-top: 84px; */
}

/* header */
header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgba(0, 0, 0);
    z-index: 100000;
}

header>.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    gap: 50px;
    align-items: center;
}

main {
    padding: 100px 0 50px;
    background-color: #16181D;
}

.main-menu {
    display: flex;
    gap: 42px;
}

.main-menu>li>a {
    font-weight: 600;
    position: relative;
    display: block;
}

.main-menu>li>a:hover {
    color: #00a8e1;
}

.main-menu>li>a::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background: #00a8e1;
    position: absolute;
    transform: translateX(-50%);
    transition: 0.3s;
    left: 50%;
    bottom: -10px;
}

.main-menu>li>a:hover::after {
    width: 100%;
}

.gnb-list {
    display: flex;
    gap: 20px;
    position: relative;
}

.gnb-list>li {
    /* background: red; */
    padding: 10px 0;
}

.gnb-list>li:hover .profile-submenu {
    display: block;
}

.profile-submenu {
    background: #444;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 44px;
    width: 130px;
    transform: translateX(-50%);
    overflow: hidden;
    /* 마지막칸에 배경색을줘서 히든을 줘야함*/
    display: none;
}

.profile-submenu>li>a {
    display: block;
    padding: 10px;
    gap: 10px;
    border-bottom: 1px solid #a6a6a6;
}

.profile-submenu>li:last-child>a {
    background: #666;
    border-bottom: none;
}

/* ---------------------main-----------------------*/

.genre {
    font-size: 4em;
}

.title-list {
    padding-left: 10px;
    /* background-color: yellowgreen; */
    padding-bottom: 24px;
}

/* display: flex;
flex-direction: column;
gap: 10px; */

.gr-list {
    display: flex;
    gap: 20px;
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 24px;
}

.gr-list>li>a {
    display: block;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 16px;
}

.gr-list .active a {
    background-color: #fff;
    color: #000;
}

.tab-menu-list {
    display: flex;
    gap: 30px;
    font-size: 1.25em;
    font-weight: 700;
    /* position: relative; */
    /* background-color: blue; */
    color: #6c6c6c;
    border-bottom: 1px solid #6c6c6c;
}

.tab-menu-list-wrap {
    /* background-color: salmon; */
    padding: 0 13px;
    /* border-bottom: 1px solid #6c6c6c; */
    margin-bottom: 26px;
}

.tab-menu-list a {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    height: 36px;
}

.tab-menu-list .active {
    color: #fff;
    position: relative;
}

.tab-menu-list .active ::after {
    content: "";
    display: block;
    background-color: #fff;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 10;
}

.movie-list {
    /* background-color: rgb(141, 141, 187); */
}

.popular {
    /* display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    row-gap: 30px;
    /* background-color: #444; */
    padding-bottom: 30px;
}

.popular li {
    /* display: block; */
    /* background-color: green; */
    /* width: 100%; */
    /* height: 160px; */
    /* border: 1px solid #fff; */
    border-radius: 30px;
    overflow: hidden;
}


/* ******************footer************************* */
footer {
    letter-spacing: 0.1em;
    padding: 30px 0;
}

footer>.inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.custom-wrap>p {
    font-size: 1.25rem;
    font-weight: 600;
}

.footer-menu-list {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    gap: 20px;
    margin-top: 5px;
}

.lang-wrap {
    display: inline-block;
    width: 120px;
    position: relative;
}

.lang-wrap>a {
    display: flex;
    padding: 10px;
    gap: 5px;
    background: #1d2632 url(../images/logo-icon/footer-langicon-Arrow.png) no-repeat 90% center;
    border-radius: 10px;
    align-items: center;
}

.lang-wrap>.lang {
    position: absolute;
    background: #0e1319;
    line-height: 2;
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
    top: 50px;
    display: none;
}

address {
    font-size: 14px;
    line-height: 2;
}

.copy {
    text-align: center;
    margin: 10px 0 50px;
}