/* --------------메인슬라이더--------------- */
@media screen and (max-width:480px) {
    .main-slider-list>li {
        height: 460px;
        width: calc(100% + 30px);
        border: 1px solid green;
    }

    .main-slider-list>li>.main-slider-list>li>a>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .main-slider-list>li .text-box {
        left: 5%;
    }

    .main-slider-list>li .text-box .prime {
        display: flex;
    }

    .main-slider-list>li .text-box .prime::before {}

    .main-slider-list>li .text-box .play-btn {
        display: none;
    }
}