body {
    /* background: #000000; */
    background-color: #16181D;
    color: #fff;
}

body::before {
    content: "";
    display: block;
    width: 62px;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

body::after {
    content: "";
    display: block;
    width: 62px;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
}

.inner {
    /* background: rgba(255, 0, 0, 0.2); */
    max-width: 1780px;
    margin: 0 auto;
    /* padding-top: 84px; */
}

/* -------------------header----------------------- */
header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100000;
    background: #000;
}

header>.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    gap: 50px;
    align-items: center;
}

.heaer-left .logo {
    width: 109px;
}

.main-menu {
    display: flex;
    gap: 42px;
}

.main-menu>li>a {
    display: block;
    position: relative;
    font-weight: 600;
}

.main-menu>li>a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #00A8E1;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.main-menu>li:hover>a {
    color: #00A8E1;
}

.main-menu>li>a:hover::after {
    width: 100%;
}

/* -------------------submenu----------------------- */
.main-menu>li:hover>.submenu-wrap {
    display: block;
}

.submenu-wrap {
    padding: 20px 200px;
    position: absolute;
    top: 74px;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #1D2632;
    display: none;
}

.sub-menu {
    display: flex;
    gap: 40px;
    font-weight: 600;
}

.submenu-wrap>.sub-menu:first-child {
    margin-bottom: 20px;
}

.gnb-list {
    display: flex;
    gap: 20px;
    position: relative;
}

.gnb-list>li {
    padding: 10px 0;
}

.gnb-list>li:hover .profile-submenu {
    display: block;
}

.profile-submenu {
    position: absolute;
    background: #262626;
    border-radius: 5px;
    width: 130px;
    left: 50%;
    top: 44px;
    transform: translateX(-50%);
    overflow: hidden;
    display: none;
    z-index: 1000;
}

.profile-submenu>li>a {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.profile-submenu>li:last-child>a {
    background: #666;
}

/* -------------------main-slider----------------------- */
.main-slider-wrap {
    margin-top: 104px;
}

.main-slider-wrap .inner {
    position: relative;
}

.main-slider-list {
    display: flex;
    /* 슬라이더 3개됐으니까 300으로 조정 */
    width: calc(300% + 60px);
    gap: 20px;
    margin-left: calc(-100% - 20px);
    border: 1px solid green;
}

.main-slider-list>li {
    border-radius: 30px;
    height: 660px;
    overflow: hidden;
    position: relative;
    border: 1px solid blue;
    /* 사진마다 비율 맞추기 */
    flex: 1;
}

.main-slider-list>li::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.main-slider-list>li>a>img {
    position: relative;
    max-width: none;
    width: 100%;
    top: -10%;
}

.main-slider-list>li .text-box {
    position: absolute;
    bottom: 50px;
    left: 70px;
    z-index: 10;
}

.main-slider-list>li .text-box .play-btn {
    display: inline-block;
    font-size: 3em;
    font-weight: 600;
    padding: 24px 70px 24px 120px;
    border: 2px solid #fff;
    border-radius: 100px;
    background: url(../../images/play-btn.png) no-repeat 80px center;
    margin: 40px 0;
}

.main-slider-list>li .text-box .describ {
    max-width: 50%;
}

.main-slider-list>li .text-box .prime {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
}

.main-slider-list>li .text-box .prime::before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    background: url(../../images/logo-icon/check.png)no-repeat center center;
}

.main-slider-list>li .text-box .genre-wrap {
    display: flex;
    font-size: 1.13em;
    gap: 20px;
}

.main-slider-list>li .scope-wrap {
    position: absolute;
    right: 70px;
    bottom: 50px;
    z-index: 10;
}

.main-slider-list>li .scope-wrap>div {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-slider-list>li .scope-wrap>div strong {
    font-size: 6.25rem;
}

.main-slider-list>li .scope-wrap>p {
    font-size: 1.5rem;
    text-align: right;
}

.main-slider-wrap .pager-btn {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    gap: 10px;
}

.main-slider-wrap .pager-btn>li>a {
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 20px;
    text-indent: -9999999px;
}

.main-slider-wrap .pager-btn>li.active>a {
    width: 30px;
}

.arrow-btn>li>a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.arrow-btn>.left-btn>a {
    left: -50px;
}

.arrow-btn>.right-btn>a {
    right: -50px;
}

/* -------------------main공통----------------------- */
main {
    background: #16181D;
    padding: 50px 0 100px;
    margin-top: 50px;
}

.no-margin {
    margin-top: 0;
}

section {
    padding: 30px 0;
    overflow-x: hidden;
}

section .inner {
    position: relative;
}

.title {
    margin-bottom: 30px;
}

section .list {
    display: flex;
    align-items: center;
}

section .pager-btn {
    position: absolute;
    display: flex;
    right: 0;
    top: -30px;
    gap: 7px;
}

section .pager-btn>li>a {
    display: block;
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 20px;
    opacity: 0.5;
    text-indent: -99999px;
}

section .pager-btn>.active>a {
    width: 14px;
    opacity: 1;
}

.more-btn>a {
    position: absolute;
    display: flex;
    left: 120px;
    top: -55px;
    align-items: center;
}

/* ----종목배너---- */
.sports-game-list {
    gap: 20px;
}

.sports-game-list>li {
    border-radius: 20px;
    flex: 0 0 230px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.sports-game-list>li img {
    border-radius: 20px;
}

/* --------실시간 중계------- */
.sports-live-wrap {
    position: relative;
}

.sports-live-list {
    gap: 16px;
    width: calc(100% * 4 / 3);
}

.sports-live-list>li {
    background-color: #000;
    border-radius: 15px;
    position: relative;
    transition: 0.3s;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    flex: 1;
}


.sports-live-list>li:hover {
    /* transform: translate(0, -10px); */
}

.sports-live-list>li>.img-box {
    overflow: hidden;
    aspect-ratio: 1/0.5;
}

.sports-live-list>li>.onair::after {
    content: "LIVE";
    position: absolute;
    display: block;
    top: 20px;
    left: 25px;
    background: red;
    color: #fff;
    padding: 2px 16px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1.25em;
}

.overlay-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    z-index: 1;
}

.sports-live-list>li>.open img {
    filter: brightness(30%);
    border-radius: 8px;
}


.sports-live-list>li>.text-box {
    padding: 15px 25px 25px;
    position: relative;
    line-height: 2;
}

.sports-live-list>li>.text-box>h3 {
    font-size: 1.5em;
}

.sports-live-list>li>.text-box>p {
    font-size: 1.25em;
}

.sports-live-list>li .control-btn {
    position: absolute;
    right: 25px;
    top: 15px;
    gap: 10px;
}

.sports-live-list>li .control-btn img {
    width: 30px;
}

/* ---------------------팀------------------------- */
.sports-brand-wrap {
    position: relative;
}

.sports-brand-list {
    gap: 12px;
}

.sports-brand-list>li {
    flex: 0 0 230px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

/* ------------------하이라이트---------------------- */
.highlight-list-wrap {
    position: relative;
}

.highlight-list {
    /* 100% * 배너의개수 / 보고싶은개수 */
    width: calc(100% * 10 / 6);
    gap: 20px;
}

.highlight-list>li img {
    border-radius: 20px;
}

.highlight-list>li {
    flex: 1;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

/* -------------------추천영화---------------------- */
.rec-movie-wrap {
    position: relative;
}

.rec-movie-list {
    width: calc(100% * 10 / 6);
    gap: 20px;
}

.rec-movie-list>li img {
    border-radius: 20px;
}

.rec-movie-list>li {
    flex: 1;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.rec-movie-wrap>.more-btn>a {
    left: 100px;
}

/* -------------------오리지널 시리즈----------------- */
.original-wrap {
    position: relative;
}

.original-list {
    width: calc(100% * 10 / 5.3);
    gap: 30px;
    display: flex;
}

.original-list>li>a img {
    aspect-ratio: 1/1.486;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
}

.original {
    background: url(../images/logo-icon/check.png) no-repeat left center;
    text-indent: 35px;
}

/* ---------------------추천 시리즈------------------ */
.rec-series-wrap {
    position: relative;
}

.rec-series-list {
    width: calc(100% * 10 / 6);
    gap: 20px;
}

.rec-series-list>li img {
    border-radius: 20px;
}

.rec-series-list>li {
    flex: 1;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

/* -------------------footer----------------------- */
footer {
    letter-spacing: 0.1em;
    position: relative;
    padding-top: 30px;
}

footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 30%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+68,000000+81,000000+100&0+0,0.6+68,0.7+81,1+100 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 68%, rgba(0, 0, 0, 0.7) 81%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
    /* z-index: 10; */
    top: -30%;
    left: 0;
}

footer>.inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.custom-wrap>p {
    font-size: 1.25rem;
    font-weight: 600;
}

.footer-menu-list {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    gap: 20px;
    margin-top: 5px;
}

.lang-wrap {
    display: inline-block;
    width: 120px;
    position: relative;
}

.lang-wrap>a {
    display: flex;
    padding: 10px;
    gap: 5px;
    background: #1d2632 url(../images/logo-icon/footer-langicon-Arrow.png) no-repeat 90% center;
    border-radius: 10px;
    align-items: center;
}

.lang-wrap>.lang {
    position: absolute;
    background: #0e1319;
    line-height: 2;
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
    top: 50px;
    display: none;
}

address {
    font-size: 14px;
    line-height: 2;
}

.copy {
    text-align: center;
    margin: 10px 0 50px;
}