body {
    background: #000F;
    color: #fff;
}

body::before {
    content: "";
    display: block;
    width: 62px;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

body::after {
    content: "";
    display: block;
    width: 62px;
    height: 0%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
}

.inner {
    max-width: 1780px;
    margin: 0 auto;
    /* background: rebeccapurple; */
}

/* header */
header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;
}

header>.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    gap: 50px;
    align-items: center;
}

.main-menu {
    display: flex;
    gap: 42px;
}

.main-menu>li>a {
    display: block;
    position: relative;
    font-weight: 600;
}

.main-menu>li>a::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background: #00a8e1;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.main-menu>li>a:hover {
    color: #00a8e1;
}

.main-menu>li>a:hover::after {
    width: 100%;
}

.gnb-list {
    display: flex;
    gap: 20px;
    position: relative;
}

.gnb-list>li {
    /* background: red; */
    padding: 10px 0;
}

.gnb-list>li:hover .profile-submenu {
    display: block;
}

.profile-submenu {
    background: #444;
    border-radius: 5px;
    position: absolute;
    width: 130px;
    left: 50%;
    top: 44px;
    transform: translateX(-50%);
    overflow: hidden;
    display: none;
    z-index: 1000;
}

.profile-submenu>li>a {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #a6a6a6;
}

.profile-submenu>li:last-child>a {
    background: #666;
    border-bottom: none;
}

/* main-hero */


.main-hero {
    height: 1080px;
}

.main-hero>li {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-hero>li>img::after {
    background-image: url(../images/sub-page/superbad.mp4)
}

.main-hero>li>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1;
}

.main-hero>li::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: none;
    background:
        linear-gradient(to right,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.3) 10%,
            rgba(0, 0, 0, 0) 70%),
        linear-gradient(to top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.4) 30%,
            rgba(0, 0, 0, 0) 70%);
}

.main-hero>li>.inner {
    position: relative;
    z-index: 3;
}


.img-box img {
    max-width: 100%;
}

.main-hero>li .text-box {
    position: absolute;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* background: rgba(0, 0, 0, 0.5) */
}

.text-box img {
    margin: 50px 0px;
}

.text-box>.information {
    width: 841px;
    font-size: 16px;
}

.text-box>.category {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    gap: 14px;
}

.text-box>.category>li {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px 15px;
}


.text-box>.tab-btn-wrap {
    display: flex;
    gap: 30px;
    align-items: center;
}

.text-box>.tab-btn-wrap .play-btn {
    display: inline-block;
    font-size: 48px;
    font-weight: 600;
    padding: 24px 75px 24px 120px;
    border: 2px solid #fff;
    border-radius: 100px;
    background: url(../images/logo-icon/play-btn-arrow.png) no-repeat 80px center;
    transition: 0.3s;
}

.text-box>.tab-btn-wrap .play-btn:hover {
    background:
        #00A8E1 url(../images/logo-icon/play-btn-arrow.png) no-repeat 80px center;
}

.text-box>.tab-btn-wrap>.tab-btn {
    display: flex;
    gap: 15px;
}



.text-box>.tab-btn-wrap .bookmark {
    display: flex;
    width: 59px;
    height: 59px;
    border: 2.5px solid #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.text-box>.tab-btn-wrap .bookmark:hover {
    background: #00A8E1;
}

.text-box>.tab-btn-wrap .share {
    display: flex;
    width: 59px;
    height: 59px;
    border: 2.5px solid #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.text-box>.tab-btn-wrap .share:hover {
    background: #00A8E1;
}

.inner>.scope-wrap {
    position: absolute;
    right: 0;
    bottom: 200px;
    font-weight: bold;
}

.inner>.scope-wrap>div {
    display: flex;
    align-items: center;
    font-size: 32px;

}

.inner>.scope-wrap strong {
    font-size: 100px;
}

.inner>.scope-wrap>p {

    text-align: right;
    font-size: 24px;
}

/* main */
section {
    padding: 30px 0;
    overflow: hidden;
}

section .inner {
    position: relative;
}

h2 {
    font-size: 30px;
}

.information-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.information-list {
    display: flex;
    gap: 60px;
    font-size: 24px;
    font-weight: bold;
}

.information-list>.blue-text {
    color: #AAB1A9;
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    transition: 0.3s;
}

.information-list>.blue-text:hover {
    color: #00A8E1;
}

.information-list>.blue-text::after {
    content: "";
    display: block;
    width: 0px;
    height: 3px;
    background: #00a8e1;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}



.information-list>.blue-text:hover::after {
    width: 100%;
}

.information-wrap>.movie-list-wrap {
    background: #444;
    border-radius: 5px;
    position: absolute;
    width: 130px;
    right: 0;
    top: 0;
    overflow: hidden;


}

.information-wrap>.movie-list-wrap>a {
    display: flex;
    gap: 10px;
    padding: 10px;

}

.movie-list {
    background: #444;
    border-radius: 5px;
    position: absolute;
    width: 130px;
    right: 0;
    top: 0;
    overflow: hidden;
    display: none;
    z-index: 1000;
}

.movie-list-wrap:hover+.movie-list {
    display: block;
}

.movie-list:hover {
    display: block;
}

.movie-list>li>a {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.director-list {
    display: flex;
    gap: 20px;
    margin: 36px 0;
}

.director-list>li>a {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.director-list>li>a .img-box {
    transition: 0.3s;
}

.director-list>li>a:hover .img-box {
    transform: translateY(-10px);
}

.director-list .text-box {}

.director-list .text-box p {
    font-size: 16px;
    font-weight: 600;
}

.director {
    overflow-x: scroll;
}

.director::-webkit-scrollbar {
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #313131;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 10px;
}

.cast-list {
    display: flex;
    gap: 20px;
    margin: 36px 0;
}

.cast-list>li>a {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cast-list>li>a .img-box {
    transition: 0.3s;
}

.cast-list>li>a:hover .img-box {
    transform: translateY(-10px);
}


.cast-list .text-box {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.cast-list .text-box h3 {
    font-size: 16px;
}

.cast-list .text-box p {
    font-size: 14px;
    color: #AAB1A9;
}

.cast {
    overflow-x: scroll;
}

.cast::-webkit-scrollbar {
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #313131;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 10px;
}



.content-information-wrap {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.content-information-wrap p {
    font-size: 20px;
    color: #AAB1A9;
}

.audio-language-wrap {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.audio-language-wrap p {
    font-size: 20px;
    color: #AAB1A9;
}

.caption-wrap {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.caption-wrap p {
    font-size: 20px;
    color: #AAB1A9;
}

.studio {
    margin-bottom: 200px;
}

.studio-wrap {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.studio-wrap p {
    font-size: 20px;
    color: #AAB1A9;
}

/* footer */

footer {
    background: linear-gradient(to top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 1) 100%);
    letter-spacing: 0.1em;
}

footer>.inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.custom-wrap {}

.custom-wrap>p {
    font-size: 1.25rem;
    font-weight: 600;
}

.footer-menu-list {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    gap: 20px;
    margin-top: 5px;
}

.lang-wrap {
    display: inline-block;
    width: 120px;
    position: relative;

}

.lang-wrap>a {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #1D2632 url(../images/logo,icon/footer-langicon-Arrow.png) no-repeat 90% center;
    gap: 5px;
    border-radius: 10px;
}

.lang-wrap>.lang {
    position: absolute;
    background: #0E1319;
    border-radius: 10px;
    line-height: 2;
    width: 100%;
    padding: 20px;
    top: 50px;
    display: none;
}

address {
    font-size: 14px;
    line-height: 2;
}

.copy {
    text-align: center;
    margin: 10px 0 50px;
}