:root {
    --gap12: 12px;
    --gap16: 16px;
    --gap20: 20px;
}

body {
    background: #000;
    color: #fff;
}

body::before {
    content: "";
    display: block;
    width: 20px;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    top: 0;
    left: 0;
}

body::after {
    content: "";
    display: block;
    width: 20px;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    top: 0;
    right: 0;
}

body::before,
body::after {
    z-index: 10;
    pointer-events: none;
}

.inner {
    max-width: 1780px;
    margin: 0 auto;
    /* background: rgba(255, 0, 0, 0.2); */
    overflow: visible;

}

.mgnb-list,
.bell-btn,
.gnb-home,
.gnb-list>li>a>span {
    display: none;
}

/* ******************header************************* */
header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

header.active {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #000;
}

header>.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    gap: 50px;
    align-items: center;
}

.heaer-left .logo {
    width: 109px;
}

.main-menu {
    display: flex;
    gap: 42px;
}

.main-menu>li>a {
    display: block;
    position: relative;
    font-weight: 600;
}

.main-menu>li>a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #00A8E1;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.main-menu>li:hover>a {
    color: #00A8E1;
}

.main-menu>li>a:hover::after {
    width: 100%;
}

/* submenu */
.submenu-wrap {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #1d2632a1;
    /* display: none; */
    backdrop-filter: blur(10px);
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.5s;
}

.submenu-wrap.active {
    height: 100px;
}

.submenu-wrap .close-btn {
    display: none;
}

.sub-menu {
    display: flex;
    gap: 40px;
    font-weight: 600;
}

.sub-menu:first-of-type {
    margin-bottom: 20px;
    padding: 20px 200px 0 200px;
}

.sub-menu:last-of-type {
    padding: 0 200px 20px 200px;
}

.gnb-list {
    display: flex;
    gap: 20px;
    position: relative;
}

.gnb-list>li {
    padding: 10px 0;
}

.gnb-list .gnb-bell {
    display: none;
}

/* 검색창 추가 */
.search-wrap {
    z-index: 1000;
    justify-content: center;
    position: fixed;
    top: -120%;
    height: fit-content;
    transition: 0.8s;
}

.profile-submenu {
    position: absolute;
    background: #212121;
    border-radius: 3px;
    width: 170px;
    left: 50%;
    top: 44px;
    transform: translateX(-50%);
    z-index: 1000;
    height: 0;
    overflow: hidden;
}

.profile-submenu>li>a {
    display: flex;
    gap: 10px;
    padding: 15px 20px;
    align-items: center;
}

.profile-submenu>li:last-child>a {
    background: #4f4f4f;
}


/* ******************footer************************* */
footer {
    letter-spacing: 0.1em;
    position: relative;
    padding-top: 30px;
}

footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 30%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+68,000000+81,000000+100&0+0,0.6+68,0.7+81,1+100 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 68%, rgba(0, 0, 0, 0.7) 81%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
    /* z-index: 10; */
    top: -30%;
    left: 0;
}

footer>.inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.custom-wrap>p {
    font-size: 1.25rem;
    font-weight: 600;
}

.footer-menu-list {
    display: flex;
    font-size: 0.88em;
    font-weight: 600;
    gap: 20px;
    margin-top: 5px;
}

.lang-wrap {
    display: inline-block;
    width: 120px;
    position: relative;
}

.lang-wrap>a {
    display: flex;
    padding: 10px;
    gap: 5px;
    background: #1d2632 url(../images/logo-icon/footer-langicon-Arrow2.png) no-repeat 92% center;
    border-radius: 10px;
    align-items: center;
}

.lang-wrap>.lang {
    position: absolute;
    width: 100%;
    top: 50px;
    opacity: 0;
}

.lang-wrap>.lang a {
    background: #0e1319;
    line-height: 2;
    display: block;
    width: 100%;
    padding: 10px 20px;
}

.lang-wrap>.lang>li:first-child a {
    border-radius: 10px 10px 0 0;
}

.lang-wrap>.lang>li:last-child a {
    border-radius: 0 0 10px 10px;
}

.lang-wrap>.lang.active {
    opacity: 1;
}

.lang-wrap>a.active {
    background-image: url(../images/logo-icon/footer-langicon-Arrow.png);
}

address {
    font-size: 0.88em;
    line-height: 2;
}

.copy {
    text-align: center;
    margin: 10px 0 50px;
}