.search-wrap {
    /* width: 1458px; */
    width: max(75%, 500px);
    background: black;
    opacity: 95%;
    margin: auto;
    border-radius: 0 0 10px 10px;
    position: relative;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100000;
    padding: 80px 80px 40px 80px;

}

.search-close-btn {
    position: absolute;
    top: 25px;
    right: 30px;
    transition: 0.1s;
}

.search-close-btn:hover {
    transform: scale(1.1);
}

/* search-tab */
.input-wrap {
    position: relative;
    width: 100%;
    height: max-content;
    border-style: none;
    border-radius: 10px;
}

.input-wrap>label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.searchInput {
    outline: none;
    width: 100%;
    background: #000;
    border-style: none;
    color: white;
    padding: 1px;
}

.search-wrap>.main-search-tab {
    width: calc(100%);
    background: black;
    border-radius: 10px;
    border: solid #fff;
    border-width: 1px;
    margin: 0 auto;
    display: flex;
    padding-left: 36.6px;
    gap: 50px;
    line-height: 40px;
    text-align: center;
    z-index: 10;
    margin-bottom: 30px;
}

.search-wrap>.main-search-tab>.search-icon>img {
    padding-bottom: 5px;
}

.search-wrap>.main-search-tab>.default-txt {
    font-size: 16px;
    font-weight: 600;
    color: white;
}

/* top-contents */

.top-contents-wrap {
    position: relative;
}

.top-contents-wrap>.title {
    color: white;
    font-size: 1.25rem;
    margin-bottom: 20px;
    /* text-align: center; */
}

.top-contents {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.content-box {
    display: flex;
    flex-direction: column;
    background: rgb(20, 20, 20);
    box-shadow: 2px 2px 2px 2px black;
    padding: 10px;
    color: white;
    position: relative;
    border-radius: 10px;
}

.content-box>.txt-info-box {
    /* position: relative; */

    padding: 10px;
    display: flex;
    flex-direction: column;
}

.content-box>.txt-info-box>.line1 {
    text-align: center;
    margin-bottom: 5px;
    /* position: relative; */
}


/* .content-box>.txt-info-box>.line1>.content-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
} */


.content-box>.txt-info-box>.line2 {
    display: flex;
    /* position: absolute; */
}

.content-box>.txt-info-box>.line2>.rank-diff {
    display: flex;
    margin-right: auto
}

.content-box>.txt-info-box>.line2>.rank-diff>.rank-diff-num {
    padding-top: 10px;
}

.content-box:hover .plus-btn:hover {
    /* scale: ; */
    transition: 0.3s;
    /* transform: translateY(-5px); */
    transform: scale(1.1, 1.1);
}

.content-box:hover {
    transform: translateY(-10px);
}

.close-btn:hover {
    transition: 0.3s;
    transform: scale(1.2, 1.2);
}

.search-plus-btn:hover {
    transition: 0.3s;
    transform: scale(1.2, 1.2);
}



.content-box>.img-box-v {
    text-align: center;
}

.content-box>.img-box-h {
    display: none;
}

.content-box>.img-box-v>a>img {
    width: 200px;
    aspect-ratio: 1/1.485;
    object-fit: cover;
    border-radius: 10px;
}

.content-box>.img-box-h>a>img {
    width: 120px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.search-plus-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* respond */
/* ipad */
@media screen and (max-width:1280px) {
    .search-wrap {
        height: 600px;
        /* overflow: scroll; */
        overflow: auto;
    }



    .search-wrap>.main-search-tab>.default-txt {
        font-size: 15px;
        font-weight: 600;
        color: white;
    }

    .top-contents-wrap>.title {
        color: white;
        font-size: 1.2rem;
        margin-bottom: 20px;
        /* text-align: center; */
    }

    .search-wrap .search-plus-btn {
        width: 20px;
        height: 20px;
    }

    .search-wrap .top-contents {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .content-box>.img-box-v {
        text-align: center;
    }

    /* .content-box>.img-box>a>img {
        width: 190px;
        aspect-ratio: 1/1.485;
        object-fit: cover;
        border-radius: 10px;

    } */
}

@media screen and (max-width:980px) {
    .search-wrap>.main-search-tab>.default-txt {
        font-size: 14px;
        font-weight: 600;
        color: white;
    }

    .search-wrap .top-contents-wrap>.title {
        color: white;
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .search-wrap .search-plus-btn {
        width: 20px;
        height: 20px;
    }

}

/* mobile */
@media screen and (max-width:768px) {

    .search-wrap {
        /* width: 1458px; */
        /* width: max(75%, 500px); */
        width: 100%;
        height: 100%;

    }

    .search-wrap .search-plus-btn {
        width: 18px;
        height: 18px;
    }

    .search-wrap .top-contents {
        /* display: grid;
        grid-template-columns: repeat(2, 0.65fr);
        justify-content: center; */
        display: flex;
        flex-direction: column;
        gap: 13px;
    }



    .content-box {
        display: flex;
        flex-direction: row;
        background: #151313;
        padding: 10px;
        color: white;
        position: relative;
        border-radius: 10px;
        position: relative;
        align-items: center;
    }

    .content-box>.img-box-v {
        display: none;
    }

    .content-box>.img-box-h {
        display: block;
    }

    .content-box>.txt-info-box {
        /* position: relative; */
        padding: 0px;
        padding-left: 20px;
        display: flex;
        /* flex-direction: column; */
        flex-direction: row;
        gap: 10px;
        /* position: relative; */
        justify-content: center;
    }


    .content-box>.txt-info-box>.line1 {
        text-align: center;
        margin: 5px 0;
        /* position: absolute; */
        /* font-weight: 600; */
        /* font-size: larger; */

    }

    .content-box>.txt-info-box>.line2 {
        /* display: none; */
        display: flex;
        gap: 10px;
        position: absolute;
        right: 20px;
        /* position: absolute;
        bottom: 5px;
        left: 15px; */
    }

    .content-box>.txt-info-box>.line2>.rank-diff {
        display: none;
    }


    /* .content-box>.txt-info-box>.line2>.rank-diff {
        display: flex;
        flex-direction: row;
        margin-right: auto
    } */

    .plus-btn {
        width: 25px;
        height: 25px;
    }

    .search-close-btn {
        position: absolute;
        top: 25px;
        right: 70px;
        transition: 0.1s;
    }

}

@media screen and (max-width:480px) {

    /* .search-wrap .top-contents {
        display: grid;
        grid-template-columns: repeat(1, 0.65fr);
        justify-content: center;
        gap: 13px;
    }

    .content-box>.img-box-v {
        text-align: center;
    } */
}