:root{
    --gap12: 12px;
    --gap16: 16px;
    --gap20: 20px;
}
body {
    background: #000;
    color: #fff;
}
body::before{
    content: "";
    display: block;
    width: 62px;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}
body::after{
    content: "";
    display: block;
    width: 62px;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
}
.inner{
    max-width: 1780px;
    margin: 0 auto;
    /* background: rgba(255, 0, 0, 0.2); */
    /* overflow: hidden; */
}
.mgnb-list,
.bell-btn,
.gnb-home,
.gnb-list>li>a>span{
    display: none;
}
/* ******************header************************* */
header{
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100000;
    background: #000;
}
header>.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    display: flex;
    gap: 50px;
    align-items: center;
}
.heaer-left .logo{
    width: 109px;
}

.main-menu{
    display: flex;
    gap: 42px;
}
.main-menu>li>a{
    display: block;
    position: relative;
    font-weight: 600;
}
.main-menu>li>a::after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #00A8E1;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}
.main-menu>li:hover>a{
    color: #00A8E1;
}
.main-menu>li>a:hover::after {
    width: 100%;
}

/* submenu */
.main-menu>li:hover>.submenu-wrap{
    display: block;
}
.submenu-wrap{
    padding: 20px 200px;
    position: absolute;
    top: 74px;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #1D2632;
    display: none;
}
.sub-menu{
    display: flex;
    gap: 40px;
    font-weight: 600;
}
.submenu-wrap>.sub-menu:first-child{
    margin-bottom: 20px;
}

.gnb-list{
    display: flex;
    gap: 20px;
    position: relative;
}
.gnb-list>li{
    padding: 10px 0;
}
.gnb-list>li:hover .profile-submenu{
    display: block;
}
.gnb-list .gnb-bell{
    display: none;
}

.profile-submenu{
    position: absolute;
    background: #212121;
    border-radius: 3px;
    width: 170px;
    left: 50%;
    top: 44px;
    transform: translateX(-50%);
    display: none;
    z-index: 1000;
}
.profile-submenu>li>a {
    display: flex;
    gap: 10px;
    padding: 15px 20px;
    align-items: center;
}
.profile-submenu>li:last-child>a {
    background: #4f4f4f;
}

/* ******************main-slider******************** */
.main-slider-wrap{
    margin-top: 104px;
    overflow-x: hidden;
}
.main-slider-wrap::after{
    content: "";
    display: block;
    width: 100%;
    height: 10%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+19,000000+32,000000+100&1+0,0.7+19,0.6+32,0+100 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 19%, rgba(0, 0, 0, 0.6) 32%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
    left: 0;
}
.main-slider-wrap .inner{
    position: relative;
}
.main-slider-list{
    display: flex;
    width: calc(400% + 60px);
    gap: 20px;
    margin-left: calc(-100% - 20px);
}
.main-slider-list>li{
    border-radius: 30px;
    height: 660px;
    overflow: hidden;
    position: relative;
}
.main-slider-list>li::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.main-slider-list>li>a>img {
    position: relative;
    top: -10%;
}

.main-slider-list>li .text-box{
    position: absolute;
    bottom: 50px;
    left: 70px;
    z-index: 10;
}
.main-slider-list>li .text-box .play-btn{
    display: inline-block;
    font-size: 3em;
    font-weight: 600;
    padding: 24px 70px 24px 120px;
    border: 2px solid #fff;
    border-radius: 100px;
    background: url(../images/play-btn.png) no-repeat 80px center;
    margin: 40px 0;
}
.main-slider-list>li .text-box .describ{
    max-width: 50%;
}
.main-slider-list>li .text-box .prime {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
}
.main-slider-list>li .text-box .prime::before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    background: url(../images/logo-icon/check.png) no-repeat center center;
}
.main-slider-list>li .text-box .genre-wrap{
    display: flex;
    font-size: 1.13em;
    gap: 20px;
}

.main-slider-list>li .scope-wrap {
    position: absolute;
    right: 70px;
    bottom: 50px;
    z-index: 10;
}
.main-slider-list>li .scope-wrap>div {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-slider-list>li .scope-wrap>div strong{
    font-size: 6.25rem;
}
.main-slider-list>li .scope-wrap>p {
    font-size: 1.5rem;
    text-align: center;
}

.main-slider-wrap .pager-btn {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    gap: 10px;
}
.main-slider-wrap .pager-btn>li>a {
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 20px;
    text-indent: -9999999px;
}
.main-slider-wrap .pager-btn>li.active>a {
    width: 30px;
}

.arrow-btn>li>a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}
section .arrow-btn{
    display: none;
}

.arrow-btn>.left-btn>a {
    left: -50px;
}

.arrow-btn>.right-btn>a {
    right: -50px;
}

/* ******************main*************************** */
main{
    background: #16181d;
    padding: 50px 0 100px;
    margin-top: 50px;
}
.no-margin{
    margin-top: 0;
}
section{
    padding: 30px 0;
    overflow-x: hidden;
}
section .inner{
    position: relative;
}
.title{
    margin-bottom: 30px;
}
section .list{
    display: flex;
}
section .pager-btn{
    position: absolute;
    display: flex;
    right: 0;
    top: -30px;
    gap: 7px;
}
section .pager-btn>li>a{
    display: block;
    width: 7px;
    height: 7px;
    background:  #fff;
    border-radius: 20px;
    opacity: 0.5;
    text-indent: -99999px;
}
section .pager-btn>.active>a {
    width: 14px;
    opacity: 1;
}

/* 실시간 랭킹 */
.ranking-list{
    /* 100% * 배너의개수 / 보고싶은개수 */
    width: calc(100% * 10 / 5 + 80px);
    /* gap: 40px; */
    margin: 0 -20px;
}
.ranking-list>li{
    width: 10%;
    padding: 0 20px;
    position: relative;
    /* padding-left: 40px; */
    transition: 0.3s;
}
.ranking-list>li:hover {
    transform: translate(0, -10px);
}

.ranking-list>li>a img{
    /* 너비 높이 비율 */
    aspect-ratio: 1/1.486;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
}
.ranking-list>li>a strong {
    position: absolute;
    bottom: 0;
    left: -10px;
    font-size: 9em;
    text-shadow: 4px 2px 4px rgba(0,0,0,0.6);
    line-height: 0.8;
    color: #EFEFEF;
    z-index: 10;
}

.ranking-list>li.active{
    width: 24.7%;
    display: none;
}
.ranking-list>li.active:hover {
    transform: none;
}
.ranking-list>li.active::after {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 40px);
    border-radius: 30px;
    height: 50%;
    bottom: 0;
    left: 20px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.ranking-list>li.active>a img{
    aspect-ratio: 1 / 0.56;
    position: relative;
}
.ranking-list>li.active>.text-box {
    position: absolute;
    bottom: 20px;
    left: 100px;
    z-index: 10;
}
.ranking-list>li.active>.text-box h3{
    font-size: 45px;
    font-weight: 500;
}
.ranking-list>li.active>.text-box .rank-icon-list {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.ranking-list>li.active>.text-box .rank-icon-list img{
    width: 40px;
}
.ranking-list>li.active>.text-box .rank-info{
    display: flex;
    align-items: center;
}
.ranking-list>li.active>.text-box .rank-info span {
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 20px;
}
.ranking-list>li.active>.text-box .rank-info .rank-review {
    border: none;
    padding: 5px;
    margin: 0;
}

.ranking-list-wrap .pager-btn{
    top: 30px;
}

/* 최근 추가된 콘텐츠, 계속 시청하기, 추천 영화, 추천 TV프로그램 */
.new-contents-list-wrap, .rec-movie-list-wrap, .rec-tv-list-wrap{
    position: relative;
}
.movie-list {
    /* 100% * 배너의개수 / 보고싶은개수 */
    width: calc(100% * 18 / 6);
    gap: 20px;
}
.movie-list>li {
    width: 270px;
    transition: 0.3s;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.movie-list>li:hover{
    transform: translate(0, -10px);
}
.movie-list>li>a img {
    /* 너비 높이 비율 */
    aspect-ratio: 1.78/1;
    object-fit: cover;
    border-radius: 20px;
}
.movie-list>li.active{
    width: 415px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position: absolute;
    left: 240px;
    top: -12px;
    z-index: 10;
    display: none;
}
.movie-list>li.active:hover {
    transform: none;
}
.movie-list>li.active>a img {
    border-radius: 20px 20px 0 0;
}
.movie-list>li.active .text-box {
    background: #16181d;
    border-radius: 0 0 20px 20px;
    padding: 20px;
}
.movie-list>li.active .text-box>.movie-icon-list {
    display: flex;
    gap: 20px;
}
.movie-list>li.active .text-box>.movie-title-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.movie-list>li.active .text-box>.movie-title-box h3{
    display: inline-block;
}

.more-btn>a {
    position: absolute;
    display: flex;
    left: 100px;
    top: -55px;
    align-items: center;
}
.rec-tv-list-wrap .more-btn>a {
    left: 175px;
}

/* 오리지널 시리즈 */
.original-list {
    /* 100% * 배너의개수 / 보고싶은개수 */
    width: calc(100% * 7 / 7);
    gap: 8px;
}
.original-list>li {
    width: 248px;
}
.original-list>li:hover>a img{
    transform: translate(0, -10px);
}
.original-list>li>a img {
    /* 너비 높이 비율 */
    aspect-ratio: 1/1.36;
    object-fit: cover;
    border-radius: 30px;
    transition: 0.3s;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
}
.original-wrap .title{
    background: url(../images/logo-icon/check.png) no-repeat left center;
    text-indent: 35px;
}

/* 회원 추천 */
.review-list-wrap{
    position: relative;
}
.review-list>li {
    transition: 0.3s;
}
.review-list>li:hover{
    transform: translate(0, -10px);
}
.review-list-wrap>.review-list {
    display: flex;
    gap: 21px;
}
.review-card {
    padding: 30px;
    width: calc(100% / 8 + 146px);
    height: 340px;
    border-radius: 15px;
    background: black;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
}

.content-info {
    display: flex;
    gap: 30px;
    padding-bottom: 15px;
    width: 100%;
}
.content-info>.content-text-info {
    padding-top: 20px;
}
.content-info>.content-text-info>.line1 {
    font-size: 20px;
    font-weight: bold;
}
.content-info>.content-text-info>.line2 {
    font-size: 16px;
    /* semi bold */
    font-weight: 600;
    padding-top: 20px;
    display: flex;
    gap: 20px;
}
.content-img>img {
    width: 80px;
    height: 120px;
    border-radius: 5px;
}

.review-info>.user-head {
    display: flex;
    gap: 20px;
    padding-bottom: 18px;
    padding-right: 25px;
}
.review-info>.user-head>.user-middle {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
}
.review-info>.user-head>.user-middle>.user-name {
    padding-bottom: 5px;
}
.review-info>.user-head>.user-right {
    display: flex;
    gap: 5px;
    font-size: 16px;
}
.review-info>.user-head>.user-right>.rating-star {
    width: 30px;
    height: 30px;
}
.review-info>.user-head>.user-right>.rating-num {
    text-align: center;
    line-height: 30px;
}

.review-info>.user-bottom {
    width: 100%;
    height: 80px;
    padding: 5px;
    font-size: 16px;

    /* 여러 줄 자르기*/
    word-wrap: break-word;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 스포츠 */
.sport-brand-wrap, .sport-event-wrap {
    position: relative;
}
.sport-brand-list{
    gap: var(--gap12);
}
.sport-brand-list>li{
    /* grow shrink width */
    flex: 0 0 230px;
    transition: 0.3s;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.sport-brand-list>li:hover {
    transform: translate(0, -10px);
}

.sport-event-list{
    width: calc(100% * 8 / 3.5);
    gap: var(--gap16);
    margin-top: 20px;
}
.sport-event-list>li{
    position: relative;
    transition: 0.3s;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.sport-event-list>li:hover {
    transform: translate(0, -10px);
}
.sport-event-list>li .text-box{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.sport-event-list>li .text-box h3{
    font-weight: 800;
}
.sport-event-list>li .text-box p {
    font-weight: 600;
}

.sport-brand-wrap .pager-btn,
.sport-event-wrap .pager-btn{
    top: -12px;
}

/* 실시간 중계 */
.sport-real-wrap{
    position: relative;
}
.sport-real-list{
    gap: var(--gap16);
    width: calc(100% * 5 / 3.5);
}
.sport-real-list>li{
    background: #000;
    border-radius: 15px;
    position: relative;
    transition: 0.3s;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.sport-real-list>li:hover {
    transform: translate(0, -10px);
}
.sport-real-list>li>.img-box{
    overflow: hidden;
    aspect-ratio: 1/0.5;
}
.sport-real-list>li>.img-box::after {
    content: "LIVE";
    position: absolute;
    display: block;
    top: 20px;
    left: 25px;
    background: red;
    color: #fff;
    padding: 2px 16px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1.25em;
}
.sport-real-list>li>.text-box {
    padding: 15px 25px 25px;
    position: relative;
    line-height: 2;
}
.sport-real-list>li>.text-box h3{
    font-size: 1.5em;
}
.sport-real-list>li>.text-box p {
    font-size: 1.25em;
}
.sport-real-list>li .control-btn {
    position: absolute;
    right: 25px;
    top: 15px;
    gap: 10px;
}
.sport-real-list>li .control-btn img{
    width: 30px;
}

/* 공개예정 */
.open-banner-wrap{
    position: relative;
}
.open-banner-list {
    width: calc(100% * 7 / 3.5);
    gap: 20px;
}
.open-banner-list>li {
    position: relative;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.open-banner-list>li .text-box {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    line-height: 1.5;
    font-weight: 500;
}
.open-banner-list .text-box>h3 {
    font-size: 1.88em;
}
.open-banner-list>li .text-box .text {
    font-size: 1.25em;
}
.open-banner-list>li .text-box p {
    font-size: 1.38em;
}




/* ******************footer************************* */
footer{
    letter-spacing: 0.1em;
    position: relative;
    padding-top: 30px;
}
footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 30%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+68,000000+81,000000+100&0+0,0.6+68,0.7+81,1+100 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 68%, rgba(0, 0, 0, 0.7) 81%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */    
    position: absolute;
    /* z-index: 10; */
    top: -30%;
    left: 0;
}
footer>.inner{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.custom-wrap>p{
    font-size: 1.25rem;
    font-weight: 600;
}

.footer-menu-list{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    gap: 20px;
    margin-top: 5px;
}

.lang-wrap{
    display: inline-block;
    width: 120px;
    position: relative;
}
.lang-wrap>a{
    display: flex;
    padding: 10px;
    gap: 5px;
    background: #1d2632 url(../images/logo-icon/footer-langicon-Arrow.png) no-repeat 90% center;
    border-radius: 10px;
    align-items: center;
}
.lang-wrap>.lang{
    position: absolute;
    background: #0e1319;
    line-height: 2;
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
    top: 50px;
    display: none;
}

address{
    font-size: 14px;
    line-height: 2;
}
.copy{
    text-align: center;
    margin: 10px 0 50px;
}