.search-wrap {
    /* width: 1458px; */
    width: max(70%, 500px);
    height: 960px;
    background: black;
    opacity: 80%;
    margin: auto;
    border-radius: 0 0 10px 10px;
    /* padding-top: 65px; */
    position: relative;
    z-index: 0;
    padding: 80px 80px 40px 80px;

    /* overflow: scroll; */
    /* overflow: hidden; */
}

.close-btn {
    position: absolute;
    top: 25px;
    right: 30px;
}

/* search-tab */
.search-wrap>.main-search-tab {
    /* position: absolute; */
    /* width: 100%; */
    width: calc(100%);
    height: 40px;
    background: black;
    border-radius: 10px;
    border: solid #fff;
    border-width: 1px;
    margin: 0 auto;
    display: flex;
    padding-left: 36.6px;
    gap: 50px;
    line-height: 40px;
    text-align: center;
    z-index: 10;
    margin-bottom: 30px;
}

.search-wrap>.main-search-tab>.search-icon>img {
    padding-bottom: 5px;
}

.search-wrap>.main-search-tab>.default-txt {
    font-size: 16px;
    font-weight: 600;
    color: white;
}

/* top-contents */

.top-contents-wrap {
    position: relative;
}

.top-contents-wrap>.title {
    color: white;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.top-contents {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.content-box {
    display: flex;
    flex-direction: column;
    background: #151313;
    padding: 10px;
    color: white;
    position: relative;
    border-radius: 10px;
}

.content-box>.txt-info-box {
    position: relative;

    padding: 10px;
    display: flex;
}

.content-box>.txt-info-box>.content-title {}

.rank-diff-wrap {
    position: absolute;
    right: 10px;
    display: flex;
}

.content-box>.img-box>a>img {
    width: 200px;
    aspect-ratio: 1/1.485;
    object-fit: cover;
    border-radius: 10px;
}

.more-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}