.search-wrap {
    /* width: 1458px; */
    width: max(70%, 500px);
    height: 480px;
    background: black;
    opacity: 80%;
    margin: auto;
    border-radius: 0 0 10px 10px;
    /* padding-top: 65px; */
    position: relative;
    z-index: 0;
    padding: 80px 80px 40px 80px;

    /* overflow: scroll; */
    /* overflow: hidden; */
}

.close-btn {
    position: absolute;
    top: 25px;
    right: 30px;
}

/* search-tab */
.search-wrap>.main-search-tab {
    /* position: absolute; */
    /* width: 100%; */
    width: calc(100%);
    height: 40px;
    background: black;
    border-radius: 10px;
    border: solid #fff;
    border-width: 1px;
    margin: 0 auto;
    display: flex;
    padding-left: 36.6px;
    gap: 50px;
    line-height: 40px;
    text-align: center;
    z-index: 10;
    margin-bottom: 48px;
}

.search-wrap>.main-search-tab>.search-icon>img {
    padding-bottom: 5px;
}

.search-wrap>.main-search-tab>.default-txt {
    font-size: 16px;
    font-weight: 600;
    color: white;
}

/* ranking */
.search-wrap>.ranking-wrap {
    margin-bottom: 10px;
}

.search-wrap>.ranking-wrap>.title {

    color: white;
    font-size: 20px;
    font-weight: bold;
}

.ranking-wrap>.ranking-list {
    /* position: relative; */

}

.search-wrap>.ranking-wrap>.ranking-list>.page>.rank-box {
    /* position: absolute; */
    /* width: calc(100%-40px); */
    height: 54px;
    background: black;
    display: flex;
    gap: 35px;
    padding: 0 35px;

    border: white solid 1px;
    border-radius: 15px;
    margin: 25px auto;
    position: relative;
}

.rank {
    color: white;
    line-height: 54px;
    text-align: center;
    font-size: 28px;
}

.ranking-wrap>.ranking-list>.page>.rank-box>img {
    width: 36px;
    height: 54px;
    /* padding: 1.5px; */
}

.rank-box .content-name {
    font-size: 18px;
    color: white;
    line-height: 54px;
    text-align: center;
}

.rank-diff-info {
    display: flex;
    position: absolute;
    right: 35px;
    line-height: 54px;
    text-align: center;
    /* justify-content: center; */

}

.rank-box .rank-diff {
    color: white;
    font-size: 18px;
}

.rank-box .search-rank-arrow {
    width: 30px;
    height: 30px;
    justify-content: center;
    margin-top: 12px;
}

.page2,
.page3,
.page4 {
    display: none;
}