/* body */
body {
    /* padding: 0 80px; */
    background: black;
    position: relative;
}

.genre-btn-wrap {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    /* gap: 30px; */
}

.genre-list {
    display: flex;
    gap: 30px;
    /* border: 1px solid white; */
}

.genre-list>.genre-btn {
    color: white;
    border: 2px solid;
    padding: 8px 14px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;

    transition: 0.3s;
}

.genre-list>.genre-btn:hover {
    background: #fff;
    color: #000;
}

/* .main-menu>li>a:hover {
    color: #00A8E1;
} */

.wish-section-wrap {
    width: 100%;
    margin: 0 auto;
}

.wish-section-wrap .wish-title {
    color: white;
    margin: 30px 0;
}

.wish-list {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
}

/* 484/326 */
.wish-content .original {
    aspect-ratio: 1/1.484;
    position: relative;

}

.close-btn {
    position: absolute;
    background-color: #00A8E1;
    bottom: 10px;
    top: 10px;
    right: 10px;

    display: none;
}


.wish-content .card-hovered {
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    background: #1D2632;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    color: white;
    display: none;

}

.wish-content:hover .original {
    display: none;
}

.wish-content:hover .card-hovered {

    transform: translateY(-20px);
    transform: scale(1.1);

    display: block;
}

.card-hovered>.box-top {
    text-align: center;
}

.card-hovered>.box-bottom>.line1 {
    display: flex;
    position: relative;
    padding: 10px 0;
    font-size: 20px;
}

.card-hovered>.box-bottom>.line2 {
    gap: 10px;
}

.btn-wrap {
    position: absolute;
    display: flex;
    gap: 5px;
    margin: 0 auto;
    right: 5px;
    justify-content: center;
}

.btn-wrap .btn-play {
    transition: 0.3s;
}

.btn-wrap .btn-trash {
    transition: 0.3s;
}


.btn-wrap .btn-play:hover {
    transform: scale(1.1);
}

.btn-wrap .btn-trash:hover {
    transform: scale(1.1);
}

/* respond */
/* iPad */
@media screen and (max-width:1280px) {
    nav {
        /* display: none; */
    }

    body {
        font-size: 14px;
    }

    .inner {
        padding: 0 16px;
    }

    body::before,
    body::after {
        display: none;
    }

    .inner {
        padding: 0 16px;
    }

    /* header */

    .genre-list .genre-btn {
        font-size: 12px;
    }


    .wish-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }


}

@media screen and (max-width:980px) {
    .genre-list .genre-btn {
        font-size: 12px;
    }

    .sub-menu {
        font-size: smaller;
    }

    .wish-title {
        font-size: 20px;
    }

    .wish-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* mobile */
@media screen and (max-width:768px) {
    nav {
        display: none;
    }


    .bell-btn {
        display: block;
        /* padding: 0 20px; */
    }

    .genre-list .genre-btn {
        border: 2px solid;
        font-size: 10px;
    }

    .wish-title {
        font-size: 16px;
    }

    .wish-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .gnb-list {
        z-index: 10000;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #000;
        justify-content: space-between;
        padding: 0 24px;

    }

    .gnb-list .gnb-home {
        display: flex;
    }

    .gnb-list>li>a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gnb-list>li>a img {
        width: 22px;
    }

    .gnb-list>li>a>span {
        display: block;
    }

    .gnb-list .profile-submenu {
        display: none;
        right: 0;
        left: unset;
        top: -200px;
        transform: none;
    }



    .footer-menu-list {
        display: block;
        line-height: 1.5;
        font-size: 1em;

    }


}

@media screen and (max-width:640px) {
    .mainmenu-home {
        display: none;
    }

    nav {
        display: none;
    }

    footer .inner {
        padding-bottom: 50px;
    }

    .footer-menu-list {
        display: block;
        line-height: 1.5;
        font-size: 1em;
    }
}

@media screen and (max-width:535px) {

    .genre-list {
        /* display: grid;
        grid-template-columns: repeat(1, 1fr); */
        display: flex;
        justify-content: center;
    }

    .genre-list .genre-btn {
        font-size: 10px;
        text-align: center;
    }

    .wish-section-wrap {
        text-align: center;
    }

    .wish-title {
        font-size: 16px;
    }

    .wish-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-menu-list {
        display: block;
        line-height: 1.5;
        font-size: 1em;
    }

}

@media screen and (max-width:480px) {

    /* .genre-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    } */

    .genre-list .genre-btn {
        font-size: 8px;
        text-align: center;
    }

    .wish-title {
        font-size: 16px;
    }

    .footer-menu-list {
        display: block;
        line-height: 1.5;
        font-size: 1em;
    }

}