body {
    background: #000F;
    color: #fff;
}

body::before {
    content: "";
    display: block;
    width: 62px;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

body::after {
    content: "";
    display: block;
    width: 62px;
    height: 0%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
}

.inner {
    max-width: 1780px;
    margin: 0 auto;
    /* background: rebeccapurple; */
}

/* header */
header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;
}

header>.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    gap: 50px;
    align-items: center;
}

.main-menu {
    display: flex;
    gap: 42px;
}

.main-menu>li>a {
    display: block;
    position: relative;
    font-weight: 600;
}

.main-menu>li>a::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background: #00a8e1;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.main-menu>li>a:hover {
    color: #00a8e1;
}

.main-menu>li>a:hover::after {
    width: 100%;
}

.gnb-list {
    display: flex;
    gap: 20px;
    position: relative;
}

.gnb-list>li {
    /* background: red; */
    padding: 10px 0;
}

.gnb-list>li:hover .profile-submenu {
    display: block;
}

.profile-submenu {
    background: #444;
    border-radius: 5px;
    position: absolute;
    width: 130px;
    left: 50%;
    top: 44px;
    transform: translateX(-50%);
    overflow: hidden;
    display: none;
    z-index: 1000;
}

.profile-submenu>li>a {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #a6a6a6;
}

.profile-submenu>li:last-child>a {
    background: #666;
    border-bottom: none;
}

/* main-hero */


.main-hero {
    height: 1080px;
}

.main-hero>li {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-hero>li>img::after {
    background-image: url(../images/sub-page/superbad.mp4)
}

.main-hero>li>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1;
}

.main-hero>li::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: none;
    background:
        linear-gradient(to right,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.3) 10%,
            rgba(0, 0, 0, 0) 70%),
        linear-gradient(to top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.4) 30%,
            rgba(0, 0, 0, 0) 70%);
}

.main-hero>li>.inner {
    position: relative;
    z-index: 3;
}


.img-box img {
    max-width: 100%;
}

.main-hero>li .text-box {
    position: absolute;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* background: rgba(0, 0, 0, 0.5) */
}

.text-box img {
    margin: 50px 0px;
}

.text-box>.information {
    width: 841px;
    font-size: 16px;
}

.text-box>.category {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    gap: 14px;
}

.text-box>.category>li {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px 15px;
}


.text-box>.tab-btn-wrap {
    display: flex;
    gap: 30px;
    align-items: center;
}

.text-box>.tab-btn-wrap .play-btn {
    display: inline-block;
    font-size: 48px;
    font-weight: 600;
    padding: 24px 75px 24px 120px;
    border: 2px solid #fff;
    border-radius: 100px;
    background: url(../images/logo-icon/play-btn-arrow.png) no-repeat 80px center;
    transition: 0.3s;
}

.text-box>.tab-btn-wrap .play-btn:hover {
    background:
        #00A8E1 url(../images/logo-icon/play-btn-arrow.png) no-repeat 80px center;
}

.text-box>.tab-btn-wrap>.tab-btn {
    display: flex;
    gap: 15px;
}



.text-box>.tab-btn-wrap .bookmark {
    display: flex;
    width: 59px;
    height: 59px;
    border: 2.5px solid #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.text-box>.tab-btn-wrap .bookmark:hover {
    background: #00A8E1;
}

.text-box>.tab-btn-wrap .share {
    display: flex;
    width: 59px;
    height: 59px;
    border: 2.5px solid #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.text-box>.tab-btn-wrap .share:hover {
    background: #00A8E1;
}

.inner>.scope-wrap {
    position: absolute;
    right: 0;
    bottom: 200px;
    font-weight: bold;
}

.inner>.scope-wrap>div {
    display: flex;
    align-items: center;
    font-size: 32px;

}

.inner>.scope-wrap strong {
    font-size: 100px;
}

.inner>.scope-wrap>p {

    text-align: right;
    font-size: 24px;
}

/* main */
main {
    background: linear-gradient(to top,
            rgba(0, 0, 0, 1) 0%,
            rgba(22, 24, 29, 1) 5%,
            rgba(22, 24, 29, 1) 80%,
            rgba(0, 0, 0, 1) 100%);
}

section {
    padding: 30px 0;
    overflow: hidden;
}

section .inner {
    position: relative;
}

.information-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.information-list {
    display: flex;
    gap: 60px;
    font-size: 24px;
    font-weight: bold;
}

.information-list>.detail-information {
    color: #AAB1A9;
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    transition: 0.3s;
}

.information-list>.detail-information:hover {
    color: #00A8E1;
}

.information-list>.detail-information::after {
    content: "";
    display: block;
    width: 0px;
    height: 3px;
    background: #00a8e1;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}



.information-list>.detail-information:hover::after {
    width: 100%;
}

.information-wrap>.movie-list-wrap {
    background: #444;
    border-radius: 5px;
    position: absolute;
    width: 130px;
    right: 0;
    top: 0;
    overflow: hidden;


}

.information-wrap>.movie-list-wrap>a {
    display: flex;
    gap: 10px;
    padding: 10px;

}

.movie-list {
    background: #444;
    border-radius: 5px;
    position: absolute;
    width: 130px;
    right: 0;
    top: 0;
    overflow: hidden;
    display: none;
    z-index: 1000;
}

.movie-list-wrap:hover+.movie-list {
    display: block;
}

.movie-list:hover {
    display: block;
}

.movie-list>li>a {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.collection {}

.collection>h1 {
    font-size: 25px;
}

.movie-collection-wrap>ul {
    display: flex;
    gap: 15px;
    margin: 36px 0;
}

.movie-collection-list>li>a {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie-collection-list>li .text-box {}


.movie-collection-list>li .text-box p {
    font-size: 17px;
    font-weight: bold;
}

.movie-collection-list>li .img-box {
    transition: 0.3s;

}

.movie-collection-list>li>a:hover .img-box {
    transform: translate(0, -10px);

}

.collection {
    overflow-x: scroll;
}

.collection::-webkit-scrollbar {
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #313131;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 10px;
}



::-webkit-scrollbar-track {
    background: #313131;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 10px;
}

/* .movie-collection-list>li>a:hover {
    color: #00a8e1;

}

.movie-collection-list>li .text-box p::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background: #00a8e1;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.movie-collection-list>li:hover .text-box p::after {
    width: 100%;
}

.movie-collection-list>li:hover .img-box::after {
    transform: translate(0, -5px);
} */
.relative-video {
    overflow-x: scroll;
}

.relative-video::-webkit-scrollbar {
    height: 3px;
}

.relative-video-wrap>ul {
    display: flex;
    gap: 10px;
    padding: 36px 0;
}

.relative-video-list>li>a {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.relative-video-list>li>a .img-box {
    transition: 0.3s;
}

.relative-video-list>li>a:hover .img-box {
    transform: translateY(-10px);
}

/* .relative-video-list>li>a:hover {
    color: #00a8e1;
} */

/* .relative-video-list>li .text-box p::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background: #00a8e1;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
} */


.relative-video-list>li .text-box p {
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
}

/* 스크롤바 ::-webkit-scrollbar 너비값*/
/* 너비 배경 스크롤색 스크롤모양 을 설정*/
/* ::-webkit-scrollbar-track 배경 */
/* ::-webkit-scrollbar-thumb 스크롤바 */
.similar-content {
    overflow-x: scroll;
}

.similar-content::-webkit-scrollbar {
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #313131;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 10px;
}


/* .relative-video-list>li:hover .text-box p::after {
    width: 100%;
} */
.similar-content-wrap {
    margin: 36px 0;
    position: relative;
}

.similar-content-wrap>ul {
    display: flex;
    gap: 15px;
}

.similar-content-list {
    width: calc(100% * 15 / 7);
}

.similar-content-list>li .text-box {

    width: calc(100% * 15 / 7);
}

.similar-content-list>li>a {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.similar-content-list>li .text-box p {
    font-size: 17px;
    font-weight: bold;
}


.similar-content-list>li>a .img-box {
    transition: 0.3s;
}

.similar-content-list>li>a:hover .img-box {
    transform: translateY(-10px);
}


.similar-content-list>li .text-box p {
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
}

.similar-content-wrap .arrow-btn>li>a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}



.similar-content-wrap .arrow-btn>.left-btn>a {
    left: -45px;
}

.similar-content-wrap .arrow-btn>.right-btn>a {
    right: -45px;
}

.review {
    margin: 40px 0;
}

.review-wrap {
    margin: 36px 0;
    position: relative;
}

.review-wrap>ul {
    display: flex;
    gap: 15px;

}

.review-list {
    width: calc(100% * 5 / 4.5);
}


.review-list>li {
    position: relative;
    width: 412px;
    height: 177px;
    background: #0F0F0F;
    border-radius: 10px;
}

.left-img-box {
    position: absolute;
    display: flex;
    gap: 20px;
    padding: 20px 20px;
}

.left-img-box img {
    width: 50px;
    height: 50px;
}

.left-img-box .id-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.left-img-box .id-card h3 {
    font-size: 16px;
}

.left-img-box .id-card p {
    font-size: 16px;
    font-weight: bold;
}

.right-img-box {
    align-items: center;
    position: absolute;
    display: flex;
    gap: 5px;
    right: 20px;
    top: 20px;
}

.review-list>li .text-box {
    position: absolute;
    font-size: 14px;
    top: 90px;
    margin: 0px 20px 20px;
}

.write-review {
    position: relative;
    justify-content: space-between;
}

.left-id-card {
    position: relative;
    top: -164px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.left-id-card>img {
    width: 83px;
    height: 83px;
}

.left-id-card>.id p {
    font-size: 20px;
    font-weight: bold;
}

.review-wrap .arrow-btn>li>a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}



.review-wrap .arrow-btn>.left-btn>a {
    left: -45px;
}

.review-wrap .arrow-btn>.right-btn>a {
    right: -45px;
}

.write-review {
    display: flex;
    gap: 40px;
    margin: 67px 0;
}

.write-review>ul img {
    position: absolute;
    top: -70px;
}

.write-review>ul {

    background: #0F0F0F;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.08);

    border-radius: 10px;
    width: 1498px;
    height: 410px;
}

.write-review>.review-box>.write-text {
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 34px 34px;
}

.write-review>.review-box>.write-text>p {
    color: #606060;
    font-size: 20px;
    font-weight: bold;
}

.write-review>.review-box>.save-btn {
    display: flex;
    gap: 8px;
    position: absolute;
    right: 34px;
    bottom: 34px;
}

.write-review>.review-box>.save-btn>.temporary-save-box {
    background: #89D1E9;
    border-radius: 10px;
    width: 100px;
    height: 37px;

}

.write-review>.review-box>.save-btn>.temporary-save-box>a>p {
    font-size: 16px;
    font-weight: bold;
    padding: 11px 21px;
}

.write-review>.review-box>.save-btn>.save-box {
    background: #00A8E1;
    border-radius: 10px;
    width: 100px;
    height: 37px;

}

.write-review>.review-box>.save-btn>.save-box>a>p {
    font-size: 16px;
    font-weight: bold;
    padding: 11px 36px;
}

/* footer */
footer {
    background: linear-gradient(to top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 1) 100%);
    letter-spacing: 0.1em;
}

footer>.inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.custom-wrap {}

.custom-wrap>p {
    font-size: 1.25rem;
    font-weight: 600;
}

.footer-menu-list {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    gap: 20px;
    margin-top: 5px;
}

.lang-wrap {
    display: inline-block;
    width: 120px;
    position: relative;

}

.lang-wrap>a {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #1D2632 url(../images/logo,icon/footer-langicon-Arrow.png) no-repeat 90% center;
    gap: 5px;
    border-radius: 10px;
}

.lang-wrap>.lang {
    position: absolute;
    background: #0E1319;
    border-radius: 10px;
    line-height: 2;
    width: 100%;
    padding: 20px;
    top: 50px;
    display: none;
}

address {
    font-size: 14px;
    line-height: 2;
}

.copy {
    text-align: center;
    margin: 10px 0 50px;
}