/* ***************login/signup*************** */
.form-wrap .title {
    text-align: center;
    margin: 50px 0;
}

.form-content {
    max-width: 430px;
    margin: 0 auto;
}

.user-form>p {
    color: #BBB;
    font-weight: 600;
    margin-bottom: 50px;
}

.user-form>div {
    display: flex;
    flex-direction: column;
}

.user-form>div:first-child {
    margin-bottom: 30px;
}

.signup-form>div:nth-child(4) {
    margin: 20px 0 30px;
}

.user-form>div>label {
    font-weight: 600;
}

.user-form .user-input {
    height: 50px;
    border-radius: 10px;
    background: #333;
    line-height: 50px;
    padding: 0 20px;
    margin-top: 5px;
    color: white;
    border: none;
    font-weight: 600;
}

.user-form .user-input:focus {
    outline: none;
}

.user-form .user-input::placeholder {
    color: #999;
    font-weight: 600;
}

.login-check {
    margin-top: 10px;
}

.screen-reader {
    /* 스크린 리더를 고려해서 체크박스를 화면에서 숨김 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    margin: -1px;
    clip-path: inset(50%);
}

.login-check .label-box {
    position: relative;
}

.login-check .check-icon {
    width: 1.4em;
    height: 1.4em;
    border-radius: 5px;
    background-color: #333;
    border: 1px solid #333;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.login-check .check-icon::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 55%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-70%) rotateZ(40deg);
    border-right: 1.7px solid #999;
    border-bottom: 1.7px solid #999;
}

.login-check .label-box label {
    padding-left: 2.2em;
    position: relative;
    cursor: pointer;
    font-weight: 600;
    color: #BBB;
}

.login-idcheck[type="checkbox"]:checked+.label-box .check-icon {
    border-color: #1399FF;
    background-color: #1399FF;
}

.login-idcheck[type="checkbox"]:checked+.label-box .check-icon::before {
    border-color: #fff;
}

.signup-form>.tel-email-change>a {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    color: #BBB;
    align-items: center;
    text-indent: 20px;
}

.tel-email-change>img {
    width: 20px;
}

.user-form .user-btn {
    margin: 0 auto;
    margin-top: 30px;
    color: #fff;
}

.user-form .user-btn>a {
    display: block;
    height: 50px;
    background: #1399FF;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    font-weight: 600;
}

/* .login-form .signup-btn>a {
    background: #E9E9E9;
    color: #666;
} */

.login-help {
    margin-top: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;
    color: #BBB;
    font-weight: 600;
}

.login-help>span:first-child {
    padding-right: 30px;
    border-right: 2px solid #BBB;
}

.login-sns-list {
    gap: 30px;
    justify-content: center;
    margin: 20px 0;
}

.account-form .line{
    border-top: 1px solid #333;
    padding-top: 10px;
}
.account-form div{
    margin-bottom: 30px;
}
.account-form p {
    margin-bottom: 20px;
}

/* ***************profile*************** */
.profile-list {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 80px;
}

.profile-btn>a {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 340px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    font-weight: 600;
    background: #E9E9E9;
    color: #666;
}

.profile-form .profile-name {
    height: 30px;
    border-radius: 10px;
    background: #333;
    line-height: 30px;
    font-size: 0.88em;
    padding: 10px 20px;
    margin-top: 5px;
    color: white;
    border: none;
    width: 180px;
    font-weight: 600;
}

.profile-form .profile-name:focus {
    outline: none;
}

.profile-form .profile-name::placeholder {
    color: #999;
    font-size: 0.88em;
    font-weight: 600;
}

.profile-form>div {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.profile-form>div>span {
    font-weight: 600;
}

.profile-list>.profile {
    position: relative;
}

.profile-list>.profile>a::after {
    content: "";
    display: block;
    opacity: 0.5;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    background: #333 url(../images/profile/profile-edit.png) no-repeat center center;
}

.profile-list>.profileplus>a>.profile-plus {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #333 url(../images/profile/profile-plus.png) no-repeat center center;
}

.profile-form .age-wrap {
    position: relative;
}

.profile-form .age-wrap>a {
    display: flex;
    align-items: center;
    background: #333 url(../images/logo-icon/footer-langicon-Arrow.png) no-repeat 90% center;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    font-size: 0.88em;
    padding: 10px 20px;
    margin-top: 5px;
    color: white;
    border: none;
    font-weight: 600;
    width: 120px;
}

.profile-form .age-wrap>.profile-age {
    position: absolute;
    background: #333;
    line-height: 30px;
    border-radius: 10px;
    width: 120px;
    padding: 5px 20px;
    top: 40px;
    font-weight: 600;
    font-size: 0.88em;
    display: none;
}

.profile-playlist>a {
    display: flex;
    align-items: center;
}

.profile-playlist>a>span {
    font-weight: 600;
}